body {
	background-color: cyan;
	color: #663366;
}

#display {
	background-color: white;
	border: 1px solid black;
}

#msg {
	color: #FF0000;
}

#theword {
	font-family: "Courier New", Courier, monospace; 
	font-size: 16px;
}

#letters {
	font-family: Georgia, serif;
	color: blue;
	font-weight:bold;
	
}

#letters a:link {
	color: #red;
}